<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920144884592-p0g95f4hhlr8ksi225j0opc6r2c4tmr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920144884592-p0g95f4hhlr8ksi225j0opc6r2c4tmr6</string>
	<key>API_KEY</key>
	<string>AIzaSyBM8vKFKcKKhSelU9Y7YIvcsTbC7E9Cyic</string>
	<key>GCM_SENDER_ID</key>
	<string>920144884592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdscnits.efficacyadmin.efficacyAdmin</string>
	<key>PROJECT_ID</key>
	<string>efficacy-5bfb8</string>
	<key>STORAGE_BUCKET</key>
	<string>efficacy-5bfb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920144884592:ios:36d8c4fb9b92fdbcfc55b5</string>
</dict>
</plist>